In [5]:
import ast
from datetime import datetime
from datetime import time
from datetime import timedelta

In [6]:
# this function extracts metadata about each crn from database.txt
def extract_course_data(crns):
    d_final = {}
    file = open('shreyav5/database.txt', 'r')
    f = file.readlines()
    course_dict = {}
    for c in crns:
        for line in f:
            if (c in line):
                course_dict = ast.literal_eval("{" + line + "}")
                for key, value in course_dict.items():
                    d_final[key] = value
    return d_final

In [7]:
# generate_daily_agenda takes the course data and organizes it by day in a dictionary
def generate_daily_agenda(crns):
    days = {"M" : [], "T" : [], "W": [], "R": [], "F" : []}
    for item in crns.keys():
        if(len(crns[item][2]) > 1):
          for letter in crns[item][2]:
            # Storing time and location in a list 'temp' and appending it to dictionary 'days'
            temp = []
            temp.append(crns[item][1])
            temp.append(crns[item][0])
            days[letter].append(temp)
        else:
            temp = []
            temp.append(crns[item][1])
            temp.append(crns[item][0])
            days[crns[item][2]].append(temp)
    return days

In [8]:
# convert_times_and_sort_days takes the days dictionary, and converts times after 12 pm to double digits
# it also sorts the classes by the times in ascending order
def convert_times_and_sort_days(days):
    sorted_days = {}
    for key, val in days.items():
      for item in val:
        if ("PM" in item[0] and (not("AM" in item[0]))):
          new_time = ""
          if(int(item[0][:2]) < 12):
            new_start_time = str(int(item[0][:2]) + 12)
            new_end_time = str(int(item[0][10:12]) + 12)
            #print(new_start_time, new_end_time)
            new_time = new_start_time + item[0][2:10] + new_end_time + item[0][12:]
            item[0] = new_time
        if (item[0].startswith('12') and item[0].rfind('01')!= -1):
            new_end_time = str(int(item[0][10:12]) + 12)
            new_time = new_end_time + item[0][12:]
            item[0] = item[0][0:10] + new_time
    for key, val in days.items():
      val = sorted(val, key=lambda x: x[0])
      sorted_days[key] = val
    return sorted_days

In [9]:
# returns differece between start and end times
def timeDiff(end_time,start_time):
    timeDiff = end_time - start_time
    return timeDiff

In [10]:
# converts all the times in sorted_days to date time objects and populates classes_datetime
def convert_to_datetime(sorted_days):
    classes_datetime = {"M" : [], "T" : [], "W": [], "R": [], "F" : []}
    datetime_object = datetime.strptime
    for key, val in sorted_days.items():
      for item in val:
        start_end = item[0].split(" ") 
        start = datetime.strptime(start_end[0][:-2], "%H:%M")
        end = datetime.strptime(start_end[2][:-2], "%H:%M")
        classes_datetime[key].append([item[1], start, end]);
    return classes_datetime

In [16]:
# creates a dictionary called back_to_back with the following format:
# {M: [[class 1, class 2, time between class 1 & 2],[class 2, class 3, time between class 2 & 3] ]}
def organize_classes(classes_datetime):
    back_to_back = {"M" : [], "T" : [], "W": [], "R": [], "F" : []}
    for key, val in classes_datetime.items():
        i = 0
        while i < len(val) - 1:
            class_pair = []
            item = val[i]
            following_item = val[i + 1]
            class_pair.append(item[0])
            class_pair.append(item[2])
            class_pair.append(following_item[0])
            class_pair.append(following_item[1])
            class_pair.append((following_item[1] - item[2]))
            back_to_back[key].append(class_pair)
            i = i + 1
    return back_to_back

In [8]:
crnsInput = {'59821', '75111', '73308', '75272', '48924', '70667', '62829', '57971'}
crns = extract_course_data(crnsInput)

In [9]:
crns

{70667: ['1025 Business Instructional Fac', '12:30PM - 01:50PM', 'TR'],
 57971: ['112 Gregory Hall', '10:00AM - 10:50AM', 'MWF'],
 59821: ['166 Bevier Hall', '01:00PM - 01:50PM', 'F'],
 75111: ['144 Armory', '02:00PM - 02:50PM', 'F'],
 48924: ['213 Gregory Hall', '02:00PM - 03:20PM', 'TR'],
 62829: ['166 Bevier Hall', '11:00AM - 12:20PM', 'MW'],
 75272: ['311 Gregory Hall', '03:00PM - 03:50PM', 'W'],
 73308: ['1062 Lincoln Hall', '04:00PM - 04:50PM', 'W']}

In [10]:
days = {"M" : [], "T" : [], "W": [], "R": [], "F" : []}
generate_daily_agenda(days)

In [11]:
days

{'M': [['10:00AM - 10:50AM', '112 Gregory Hall'],
  ['11:00AM - 12:20PM', '166 Bevier Hall']],
 'T': [['12:30PM - 01:50PM', '1025 Business Instructional Fac'],
  ['02:00PM - 03:20PM', '213 Gregory Hall']],
 'W': [['10:00AM - 10:50AM', '112 Gregory Hall'],
  ['11:00AM - 12:20PM', '166 Bevier Hall'],
  ['03:00PM - 03:50PM', '311 Gregory Hall'],
  ['04:00PM - 04:50PM', '1062 Lincoln Hall']],
 'R': [['12:30PM - 01:50PM', '1025 Business Instructional Fac'],
  ['02:00PM - 03:20PM', '213 Gregory Hall']],
 'F': [['10:00AM - 10:50AM', '112 Gregory Hall'],
  ['01:00PM - 01:50PM', '166 Bevier Hall'],
  ['02:00PM - 02:50PM', '144 Armory']]}

In [12]:
convert_times_and_sort_days(days, sorted_days)

In [13]:
sorted_days

{'M': [['10:00AM - 10:50AM', '112 Gregory Hall'],
  ['11:00AM - 12:20PM', '166 Bevier Hall']],
 'T': [['12:30PM - 13:50PM', '1025 Business Instructional Fac'],
  ['14:00PM - 15:20PM', '213 Gregory Hall']],
 'W': [['10:00AM - 10:50AM', '112 Gregory Hall'],
  ['11:00AM - 12:20PM', '166 Bevier Hall'],
  ['15:00PM - 15:50PM', '311 Gregory Hall'],
  ['16:00PM - 16:50PM', '1062 Lincoln Hall']],
 'R': [['12:30PM - 13:50PM', '1025 Business Instructional Fac'],
  ['14:00PM - 15:20PM', '213 Gregory Hall']],
 'F': [['10:00AM - 10:50AM', '112 Gregory Hall'],
  ['13:00PM - 13:50PM', '166 Bevier Hall'],
  ['14:00PM - 14:50PM', '144 Armory']]}

In [14]:
classes_datetime = {"M" : [], "T" : [], "W": [], "R": [], "F" : []}
convert_to_datetime(classes_datetime)

In [15]:
classes_datetime

{'M': [['112 Gregory Hall',
   datetime.datetime(1900, 1, 1, 10, 0),
   datetime.datetime(1900, 1, 1, 10, 50)],
  ['166 Bevier Hall',
   datetime.datetime(1900, 1, 1, 11, 0),
   datetime.datetime(1900, 1, 1, 12, 20)]],
 'T': [['1025 Business Instructional Fac',
   datetime.datetime(1900, 1, 1, 12, 30),
   datetime.datetime(1900, 1, 1, 13, 50)],
  ['213 Gregory Hall',
   datetime.datetime(1900, 1, 1, 14, 0),
   datetime.datetime(1900, 1, 1, 15, 20)]],
 'W': [['112 Gregory Hall',
   datetime.datetime(1900, 1, 1, 10, 0),
   datetime.datetime(1900, 1, 1, 10, 50)],
  ['166 Bevier Hall',
   datetime.datetime(1900, 1, 1, 11, 0),
   datetime.datetime(1900, 1, 1, 12, 20)],
  ['311 Gregory Hall',
   datetime.datetime(1900, 1, 1, 15, 0),
   datetime.datetime(1900, 1, 1, 15, 50)],
  ['1062 Lincoln Hall',
   datetime.datetime(1900, 1, 1, 16, 0),
   datetime.datetime(1900, 1, 1, 16, 50)]],
 'R': [['1025 Business Instructional Fac',
   datetime.datetime(1900, 1, 1, 12, 30),
   datetime.datetime(1900, 1, 1, 13, 50)],
  ['213 Gregory Hall',
   datetime.datetime(1900, 1, 1, 14, 0),
   datetime.datetime(1900, 1, 1, 15, 20)]],
 'F': [['112 Gregory Hall',
   datetime.datetime(1900, 1, 1, 10, 0),
   datetime.datetime(1900, 1, 1, 10, 50)],
  ['166 Bevier Hall',
   datetime.datetime(1900, 1, 1, 13, 0),
   datetime.datetime(1900, 1, 1, 13, 50)],
  ['144 Armory',
   datetime.datetime(1900, 1, 1, 14, 0),
   datetime.datetime(1900, 1, 1, 14, 50)]]}

In [16]:
back_to_back = {"M" : [], "T" : [], "W": [], "R": [], "F" : []}
organize_classes(back_to_back, classes_datetime)

In [17]:
back_to_back

{'M': [['112 Gregory Hall',
   '166 Bevier Hall',
   datetime.timedelta(seconds=600)]],
 'T': [['1025 Business Instructional Fac',
   '213 Gregory Hall',
   datetime.timedelta(seconds=600)]],
 'W': [['112 Gregory Hall',
   '166 Bevier Hall',
   datetime.timedelta(seconds=600)],
  ['166 Bevier Hall', '311 Gregory Hall', datetime.timedelta(seconds=9600)],
  ['311 Gregory Hall', '1062 Lincoln Hall', datetime.timedelta(seconds=600)]],
 'R': [['1025 Business Instructional Fac',
   '213 Gregory Hall',
   datetime.timedelta(seconds=600)]],
 'F': [['112 Gregory Hall',
   '166 Bevier Hall',
   datetime.timedelta(seconds=7800)],
  ['166 Bevier Hall', '144 Armory', datetime.timedelta(seconds=600)]]}

In [17]:
crnsInput = {'59821', '75111', '73308'} # '75272', '48924', '70667', '62829', '57971'}
def final(crnsInput):
    crns = extract_course_data(crnsInput)
    days = generate_daily_agenda(crns)
    sorted_days = convert_times_and_sort_days(days)
    classes_datetime = convert_to_datetime(sorted_days)
    back_to_back = organize_classes(classes_datetime)
    return back_to_back
final = final(crnsInput)

In [18]:
final

{'M': [],
 'T': [],
 'W': [],
 'R': [],
 'F': [['166 Bevier Hall',
   datetime.datetime(1900, 1, 1, 13, 50),
   '144 Armory',
   datetime.datetime(1900, 1, 1, 14, 0),
   datetime.timedelta(seconds=600)]]}

In [10]:
from datetime import datetime

def convertDateTime(datetime_object):
    return datetime_object.strftime("%H:%M")
    # start_end = datetime_object.split(" ")
    # return datetime.strptime(start_end[0], "%H:%M:%S"), datetime.strptime(start_end[1], '%H:%M:%S')

In [12]:
print(convertDateTime(datetime(1900, 1, 1, 15, 50)))

15:50

In [13]:
a = "datetime.datetime"
a.split(".")[1]

'datetime'